<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler,Castle.Windsor" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <!-- Castle Windsor config section -->
  <castle>
    <!-- Import the assembly name once so we don't have to fully-qualify types in our component
    registrations below.-->
    <using assembly="WindsorXmlConfigExample.Console" />
    <components>
      <!-- To swap in a different IGreeter implementation, update the "type" line below to reflect
      the desired Greeter (i.e. EnglishGreeter, SpanishGreeter, GermanGreeter) -->
      <component
        service="IGreeter"
        type="GermanGreeter"
        lifestyle="transient">
      </component>
    </components>
  </castle>
</configuration>